body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Moderat';
  
}
  
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #1E130C;
}

button {
  display: inline-flex;
  border: 0;
  background: transparent;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
   margin: 0;
}

p {
  margin: 0;
}

.no-padding {
  padding: 0 !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-color {
  background: #11B4DA;
}

span.icon.icon-color.\31{
  background: #EE4545 !important;
}

span.icon.icon-color.\32 {
  background: #5A45EE !important; 
}

span.icon.icon-color.\33 {
  background: #46E8BC !important;
}

.prj-oxy, a#oxygen-for-nepal span{
  background: #EE4545;
}

.prj-ess, a#essentials span  {
  background: #46E8BC;
}

.prj-cov, a#covid-19-safety-kit span {
  background: #5A45EE;
}

.user-type [type="radio"]:checked,
.user-type [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.user-type [type="radio"]:checked + label,
.user-type [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.user-type [type="radio"]:checked + label:before,
.user-type [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.user-type [type="radio"]:checked + label:after,
.user-type [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #11b4da;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.user-type [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.user-type [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.project-type [type="checkbox"]:checked {
  display: none;
}



.project-type [type="checkbox"]:checked,
.project-type [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.project-type [type="checkbox"]:checked + label,
.project-type [type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.project-type [type="checkbox"]:checked + label:before,
.project-type [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.project-type [type="checkbox"]:checked + label:after,
.project-type [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #11b4da;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.project-type [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.project-type [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.item-lists [type="checkbox"]:checked {
  display: none;
}



.item-lists [type="checkbox"]:checked,
.item-lists [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.item-lists [type="checkbox"]:checked + label,
.item-lists [type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.item-lists [type="checkbox"]:checked + label:before,
.item-lists [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.item-lists [type="checkbox"]:checked + label:after,
.item-lists [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #11b4da;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.item-lists [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.item-lists label {
  margin-left: 0 !important;
}


.item-lists [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#location-select { position: absolute; top: 0; bottom: 0; width: 100%; }

.dz-default.dz-message span {
  font-size: 12px;
  font-family: 'Proxima Nova';
}

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
  display: none !important;
}

.vue-dropzone>.dz-preview:hover .dz-remove {
  font-size: 9px;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid #FFF;
  font-family: 'Proxima Nova';
  font-weight: 300;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
  margin-top: -43px;
  font-size: 11px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  position: absolute;
  top: -2px;
  right: 50px;
}

input.mapboxgl-ctrl-geocoder--input {
  padding-left: 35px !important;
}

.padding-left-none {
  padding-left: 0;
}

span.header-dots {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #11b4da;
  border-radius: 50%;
  margin-right: 5px;
  opacity: 0.5;
}

span.header-dots.Oxygen.For.Nepal {
  background: #ee4545;
  
}

span.header-dots.COVID19.Safety.Kit {
  background: #5a45ee;
}

span.header-dots.Essentials {
  background: #46e8bc;
}

.active span.header-dots {
  opacity: 1;
}

#all.active {
  color: #11b4da;

}

#project1.active {
  color: #ee4545;
 
}

#project2.active {
  color: #5a45ee;
  
}

#project3.active {
  color: #46e8bc;

}