

@media screen and (max-width: 1424px) {

	.filter {
        top: 1% !important;
    }
    .map-wrapper .filter .filter-card .nice-select {
        height: 40px;
    }

    .map-wrapper .filter {
        width: 261px;
        padding-left: 20px;
    }

    .container {
        max-width: 1290px;
    }   

    header .header-logo a img {
        width: 309px;
    }

    .sidebar .sidebar-header {
        padding: 15px 40px;
    }

    header .head-nav {
        margin-left: 0;
    }

    .about-slide {
        padding: 50px;
    }
    
    .about-slide .abt img {
        width: 380px;
        margin-bottom: 10px;
    }

    .about-slide .abt-center {
        margin-top: 40px;
    }

    .about-slide .abt-footer{
        padding-top: 20px;
    }

}

@media screen and (max-width: 1024px) {


}




@media screen and (max-width: 768px) {

}



@media screen and (max-width: 480px) { 
	
}



@media screen and (max-width: 375px) { 




}